body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    text-align: left;
}
input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box; 
    border-width: 3px; 
    border: 1px solid #5f9341;

}
button {
    color: white;
    font-weight: bold; 
    background-color: #5f9341;
    margin-top: 5px;
    padding: 15px 25px; /*first goes Y axis and after X axis*/
    /*
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    */

    border: 1px solid #5f9341;
}
#delete-btn {
    background-color: white;
    color: #5f9341;  
}
ul{ 
    margin-top: 20px;
    padding-left: 2px;
    list-style: none;
}
li a {
    color: #5f9341; 
}
li{
    margin-top: 5px;
}

#container, h1{
    text-align: center;
    width: 100%;
}

#team-img{
    width: 50;
    border-radius: 100%;
    margin: 10px;
}